<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 헤더 -->
<th:block th:replace="/inc/header :: headerFrag"></th:block>

<!-- 컨텐츠 -->
<div class="container shadow-sm rounded w-100 mt-5 p-5">
    <h2 class="text-center mb-5">커 뮤 니 티</h2>
    <ul class="nav justify-content-center">
        <li class="nav-items me-2 ca">
            <a th:class="${cat == null} ? 'nav-link ca selected':'nav-link ca'" th:href="@{/admin/post}">전체게시판</a>
        </li>
        <li class="nav-items me-2 ca">
            <a th:class="${cat == '자유 게시판'} ? 'nav-link ca selected':'nav-link ca'" th:href="@{/admin/post/searchList?category=자유 게시판&searchCategory=all&keyword=}">자유게시판</a>
        </li>
        <li class="nav-items me-2 ca">
            <a th:class="${cat == '찾습니다'} ? 'nav-link ca selected':'nav-link ca'" th:href="@{/admin/post/searchList?category=찾습니다&searchCategory=all&keyword=}">찾습니다</a>
        </li>
        <li class="nav-items me-2 ca">
            <a th:class="${cat == '우리 이제 함께에요'} ? 'nav-link ca selected':'nav-link ca'" th:href="@{/admin/post/searchList?category=우리 이제 함께에요&searchCategory=all&keyword=}">우리 이제 함께에요</a>
        </li>
        <li class="nav-items me-2 ca">
            <a th:class="${cat == '너와 나 그리고 우리'} ? 'nav-link ca selected':'nav-link ca'" th:href="@{/admin/post/searchList?category=너와 나 그리고 우리&searchCategory=all&keyword=}">너와 나 그리고 우리</a>
        </li>
    </ul>

    <div class="mb-5 mt-5">
        <form action="/admin/post/searchList" name="searchForm" method="get">
            <div class="d-flex justify-content-center">
                <input type="hidden" id="category" name="category" th:value="${cat}">
                <select class="form-select form-select me-2" style="width:100px" name="searchCategory">
                    <option value="all">전체</option>
                    <option value="title">제목</option>
                    <option value="writer">작성자</option>
                </select>
                <input type="text" id="keyword" name="keyword" placeholder="검색어입력" style="width:300px"
                       class="form-control rounded-0 rounded-start" value="">
                <button class="btn rounded-0 rounded-end" style="background:#138499; color:white;"><i class="fa fa-search"></i></button>
            </div>
        </form>

    </div>

    <table class="table">
        <thead>
            <tr>
                <th class="col-1">No.</th>
                <th class="col-2">카테고리</th>
                <th class="col-5">제목</th>
                <th class="col-1">작성자</th>
                <th class="col-1">조회수</th>
                <th class="col-2">등록일</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="adminPost : ${adminList}">
                <tr>
                    <td>공지</td>
                    <td th:text="${adminPost.postCategory}">category</td>
                    <td><a th:href="@{/admin/post/get/{Bno}(Bno=${adminPost.id})}" th:text="${adminPost.getPostTitle()}">title</a></td>
                    <td th:text="${adminPost.admin.getAdminName()}">writer</td>
                    <td th:text="${adminPost.getPostViewCnt()}">viewCnt</td>
                    <td id="" th:text="${#dates.format(adminPost.postIndate, 'yyyy.MM.dd')}"></td>
                </tr>
            </th:block>

            <th:block th:each="userPost : ${userList}">
                <th:block th:if="${userPost.postTemp} == 0">
                <tr>
                        <td th:text="${userPost.id}">index</td>
                        <td th:text="${userPost.postCategory}">category</td>
                        <td><a th:href="@{/admin/post/get/{Bno}(Bno=${userPost.id})}" th:text="${userPost.getPostTitle()}">title</a></td>
                        <td th:text="${userPost.user.getName()}">writer</td>
                        <td th:text="${userPost.getPostViewCnt()}">viewCnt</td>
                        <td id="indate" th:text="${#dates.format(userPost.postIndate, 'yyyy.MM.dd')}"></td>
                </tr>
                </th:block>
            </th:block>
        </tbody>
    </table>

    <div class="text-center mt-5" th:if="${#authentication.principal} != null">
        <a th:href="@{/admin/post/register}" class="btn btn-success">게시판 공지사항 작성</a>
    </div>


    <ul class="pagination mt-5 justify-content-center">         <!--/?page=2 -->
        <li class="page-item" th:class="${prevPage<=0} ? 'page-item disabled':'page-item'">
            <a class="page-link" th:href="@{|?category=${cat}&searchCategory=${searchCategory}&keyword=${keyword}&page=${prevPage - 1}|}">이전페이지</a>
        </li>
        <li class="page-item" th:each="page : ${#numbers.sequence(blockStart,blockEnd)}"
            th:class="${page == postList.number + 1 } ? 'page-item active':'page-item'"
            th:if="${postList != null}">
            <a class="page-link" th:text="${page}" th:href="@{|?category=${cat}&searchCategory=${searchCategory}&keyword=${keyword}&page=${page - 1}|}">현재 페이지 블럭</a>
        </li>
        <li class="page-item" th:class="${blockEnd == postList.totalPages} ? 'page-item disabled':'page-item'">
            <a class="page-link" th:href="@{|?category=${cat}&searchCategory=${searchCategory}&keyword=${keyword}&page=${nextPage - 1}|}">다음페이지</a>
        </li>
    </ul>
</div>
<script src="/js/post.js">


</script>
<!-- 푸터 -->
<th:block th:replace="/inc/footer :: footerFrag"></th:block>

</body>
</html>