<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!-- 헤더 -->
<th:block th:replace="/include/header :: headerFrag"></th:block>

<!-- 컨텐츠 -->
<div class="container shadow-sm w-50 p-5 rounded mt-5">
    <h3 class="text-center">나의 문의 사항</h3>
    <hr class="sc-hr">
    <form class="form-join">
        <div class="form-group mt-2 mb-2">
        <label for="title" class="form-label">제목</label>
        <input type="text" class="form-control" name="title" id="title" th:value="${qa.qaTitle}" required><input type="hidden" id="id" th:value="${qa.id}">
        </div>
        <div class="form-group mb-2 ">
            <label for="content" class="form-label">내용</label>
            <textarea style="height:250px" class="form-control" name="content" id="content" th:text="${qa.qaContent}" required></textarea>
        </div>
    </form>
        <div class="text-center mt-5">
            <button class="btn btn-info me-1" id="update">수정</button>
            <button class="btn btn-danger" onclick="history.back()">취소</button>
        </div>
</div>
<script src="/js/QA.js"></script>
<!-- 푸터 -->
<th:block th:replace="/include/footer :: footerFrag"></th:block>

</body>
</html>