<th:block th:fragment="card">
    <div class="card" style="width:30%">
        <img class="card-img-top" th:src="@{/fileRepo/}+${pet.getPetImage()}" alt="Card image" width=40px, height=200px>
        <div class="card-body">
            <h4 class="card-title" th:value="">John Doe</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary">See Profile</a>
        </div>
    </div>
</th:block>

<!--<div class="card" style="width:30%">-->
<!--    <div class="card-body">-->
<!--        <h4 class="card-title">John Doe</h4>-->
<!--        <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>-->
<!--        <a href="#" class="btn btn-primary">See Profile</a>-->
<!--    </div>-->
<!--    <img class="card-img-top" src="../bootstrap4/img_avatar1.png" alt="Card image" style="width:100%">-->
<!--</div>-->